<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	 <bean id="autoSyncJob" class="com.pms.app.job.AutoSyncJob"></bean>
	 
	 <bean id="autoSyncSchedulerService" class="com.pms.app.job.AutoSyncSchedulerServiceImpl">
        <property name="autoSyncJob" ref="autoSyncJob" />
    </bean>
    
	<bean id="autoSyncTaskJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
	    <property name="targetObject" ref="autoSyncSchedulerService" />
	    <property name="targetMethod" value="executeAutoSyncJob" />  
	</bean>
	
	
	
	<!-- Daily Job Simple Trigger -->
    <bean id="awsS3Trigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean"> 
        <property name="jobDetail" ref="autoSyncTaskJobDetail" />
       <property name="repeatInterval" value="120000" />
    </bean>
    
    
    
 	
    
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
           <list>
              <ref bean="autoSyncTaskJobDetail" />
           </list>
        </property>    
        <property name="triggers">
           <list>
              <ref bean="awsS3Trigger" />
           </list>
        </property>
    </bean>
	
</beans>